{% extends 'managment/index.html' %}
{% load static %}
{% block contant %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Create Group</h1>
                <ol class="breadcrumb mb-4">
                   
                    <li class="breadcrumb-item active">Group</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body" style="padding: 3% 23%;">
                        <form action="{% url 'creategroup' %}" method="POST">
                            {% csrf_token %}
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12"> <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">User</label>
                                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="usere">
                                            {% for i in user %}
                                            <option value="{{i.email}}">{{i.email}}</option>
                                            {% endfor %}
                                          </select>
                                      </div></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12"> <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Batch</label>
                                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="batch">
                                            {% for i in batch %}
                                            <option value="{{i.name}}">{{i.name}}</option>
                                            {% endfor %}
                                          </select>
                                      </div></div>
                                    </div>

                            </div>
                            <div class="mb-3 form-check">
                              <input type="checkbox" class="form-check-input" id="exampleCheck1">
                              <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </form>
                    </div>
                </div>
            </div>
        </main>
        
    </div>
{% endblock contant %}

